<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<div class="jumbotron"></div>
    
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">chue10.github.io</a>
        </div>
            
        <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="https://github.com/chue10">My Github</a></li>
            <li><a href="/about.md">About Me</a></li>
            <li><a href="resume.html">Resume</a></li>
        </ul>
        </div>
    </nav>	
	<main>
		<article>
			{{ content }}
		</article>
		{% include footer.html %}
	</main>
</body>

</html>
